.nav-wrapper {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 3.5rem;
    z-index: 999;
    background: white;
}
.nav-left {
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
}
.nav-name {
    font-size: 1.3rem;
    font-weight: bold;
}
.nav-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.nav-list {
    flex: 10;
}
.nav-list > ul {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
    list-style: none;
}
.navLink{
    transition: 0.5s;
    letter-spacing: 2px;
}
.navLink:hover {
    cursor: pointer;
    color: var(--rose);
}
.nav-button {
    flex: 2;
}
