.contact-wrapper{
    display: flex;
    padding: 0 3rem;
    align-items: center;
    justify-content: center;
    height: 40vh;
    position: relative;
}
.c-left{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.c-left> img{
    width: 8rem;
}
.c-left>:nth-child(2){
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--black);
    letter-spacing: 4px;
}
.c-left>:nth-child(3){
    color: var(--rose);
    font-weight: bold;
    font-size: 2.3rem;
}
.c-right{
    flex: 2;
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact-form>input ,textarea{
    border: none;
    border-radius: 10px;
    padding: 0.4rem 0.3rem;
    background-color: white;
    font-size: 0.8rem;
    box-shadow:inset  1px 1px 10px 1px rgba(0, 0, 0, 0.08);;
}


.contact-form>textarea, input:focus{
    outline: none;
}
.c-blur{
    top:1rem;
}
.c-btn{
    width: 6rem;
    height: 2rem;
}
.success-message{
    color:var(--rose);
    letter-spacing: 3px;
    font-size: 0.7rem;
}