.fnav-list ul {
    display: flex;
    justify-content: space-evenly;
    margin-left: -1.8rem;
}
.fnav-list ul li {
    list-style: none;
}
.fnav-wrapper {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background: rgba(255, 255, 255, 0.601);
    box-shadow: -1px 2px 10px 1px rgb(178, 178, 178);
    padding: 0.1rem 0rem;
    border-top-right-radius: 100rem;
    border-top-left-radius: 100rem;
}
.fnavLink {
    transition: 0.5s;
}
.fnavLink:hover {
    color: var(--rose);
}
@media screen and (max-width: 700px) {
    .fnav-wrapper {
        display: block;
    }
}
